extends base

block content
    link(href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    link(href='/css/homepage.css' rel="stylesheet")

    section#hero
        .hero-content
            h1
                span Music Festival
                br
                | Find Your Favourite Artists on Tour
            div
                a.btn-get-started(href='#upcoming') Get Tickets
    main.main
        #popular
            h2 Popular Tours<br>& Events
            each tour in toptours
                .popular-tour
                    h1= tour.name
                    h3= `Date: ${tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric', day: 'numeric'})}`
                    h4= tour.summary
                    a(href=`/tour/${tour.slug}`) Learn More →

        h2#upcoming.center Upcoming Shows
        each tour in tours
            a.concert__item(href=`/tour/${tour.slug}`)
                    .concert__picture
                        .concert__picture-overlay &nbsp;
                        img.concert__picture-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
                    h3.concert-heading
                        span= tour.name
                    .concert__details
                        .concert__wrapper
                            h3.card__sub-heading= `${tour.duration}-day ${tour.genre} event`
                            p.card__text= tour.summary
                            .card__data
                                svg.card__icon
                                    use(xlink:href='/img/icons.svg#icon-map-pin')
                                span= `Location: ${tour.startLocation.description}`
                            .card__data
                                svg.card__icon
                                    use(xlink:href='/img/icons.svg#icon-calendar')
                                span= `Date: ${tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric', day: 'numeric'})}`
                            .card__data                 
                                svg.card__icon
                                    use(xlink:href='/img/icons.svg#icon-user')
                                span= `Seats: ${tour.maxGroupSize}`
                    .concert__prices
                        h3.card__sub-heading= `Price: + $${tour.price}`
                        button.btn-get-started Book Now
