extends base

//- include a mixin
include __reviewCard

block append head
    link(rel='stylesheet' href='/css/mapstyle.css')
    link(rel='stylesheet' href='/css/tourstyle.css')
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')
    script(src='/js/leaflet.js' defer)

mixin overviewBox(label, text, icon)
    .overview-box__detail
        svg.overview-box__icon
            use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span.overview-box__label= label
        span.overview-box__text= text

block content
    section.body-overview
        section.section-header
            .header__hero
                .header__hero-overlay &nbsp;
                img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

            .heading-box
                h1.heading-primary= `${tour.name} tour`
                .heading-box__group
                    .heading-box__detail
                        svg.heading-box__icon
                            use(xlink:href='/img/icons.svg#icon-clock')
                        span.heading-box__text= `${tour.duration} days`
                    .heading-box__detail
                        svg.heading-box__icon
                            use(xlink:href='/img/icons.svg#icon-map-pin')
                        span.heading-box__text= `Starts in ${tour.startLocation.description}`
                a.scrollto(href='#map').btn-get-started See Locations

        section.section-description
            .overview-box
                div
                    .overview-box__group
                        h2.heading-secondary.ma-bt-lg Performers
                        each singer in tour.guides
                            .overview-box__detail
                                img.overview-box__img(src=`/img/users/${singer.photo}`, height="35", width="35", alt=`singer.name`)

                                - if (singer.role === 'lead-singer')
                                    span.overview-box__label Lead Singer
                                - if (singer.role === 'singer')
                                    span.overview-box__label Guest Singer
                                span.overview-box__text= singer.name

                    .overview-box__group
                        h2.heading-secondary.ma-bt-lg Event information
                        +overviewBox('Next date', tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric', day: 'numeric'}), 'calendar')
                        +overviewBox('Genre', tour.difficulty, 'trending-up')
                        +overviewBox('Concert size', `${tour.maxGroupSize} people`, 'user')
                        +overviewBox('Rating', `${tour.ratingsAverage}`, 'star')


            .description-box
                h2.heading-secondary.ma-bt-lg= `About ${tour.name} tour`
                - const paragraphs = tour.description.split('\n');
                each p in paragraphs
                    p.description__text= `${p}`

        section.section-pictures
            each img, i in tour.images
                .picture-box
                    img.picture-box__img(src=`/img/tours/${img}`, alt=`The ${tour.name} Tour ${i + 1}`,
                    class=`picture-box__img--${i + 1}`)

        section.section-map
            #map(data-locations=`${JSON.stringify(tour.locations)}`)

        section.section-pageend
            .section-reviews
                .review-list
                    .reviews
                            each review in tour.reviews
                                +reviewCard(review)
                .reviews-overview
                    h2.heading-secondary.ma-bt-lg What our users are saying 
                    p.description__text Want to know more about the concerts? Learn what people are saying thanks to our helpful users! Click with your mouse and drag to scroll through the reviews on the left to see what people are thinking. Of course, there's nothing better than seeing it in-person yourself. Whether you're an avid fan or looking to try something new, these reviews ought to help you decide whether these concerts are for you.
                    button.btn-get-started Learn More

            .cta
                .cta__img.cta__img--logo
                    img(src='/img/logo-white.png', alt='Concerto logo', height="110", width="110")
                img.cta__img.cta__img--1(src=`/img/tours/${tour.images[1]}`, alt='Tour picture')
                img.cta__img.cta__img--2(src=`/img/tours/${tour.images[2]}`, alt='Tour picture')
                .cta__content
                    h2.heading-secondary What are you waiting for?
                    p.cta__text= `Performances come and go, but good music is forever. ${tour.duration} chances to see it live.`
                    button.btn.btn--green.span-all-rows Get tickets now!
